# external requirements
# click
# coverage
# awscli
# python-dotenv>=0.5.1

pandas==1.5.2
matplotlib==3.6.3
seaborn==0.12.2
scikit-learn==1.2.0
xgboost==1.7.3
pandera==0.13.4
mlflow==2.1.1
optuna==3.0.5
streamlit==1.17.0

# dev requirements
pre-commit==2.21.0
black==22.12.0
flake8==6.0.0
ipykernel==6.20.1 # to execute ipynb in vscode
isort==5.11.4
